
@media only screen and (min-width: 986px) and (max-width: 1202px){
	.contact-info .right-part .payment .content ul li .btn-teritary-fast {
		font-size: 12px !important;
	}
	.contact-info .left-part .Continue-shipping ul li .bt-2 {
	font-size: 12px !important;
	}
	.contact-info .left-part .Continue-shipping ul li .bt-1 {
		font-size: 12px !important;
	
	}
}
/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	
	/*	Nav*/
	
	nav.navbar.bootsnav .navbar-toggle {
		margin-top: 25px;
	}
	
	/*NavBar*/
	
	.bsnav-sticky.bsnav-sticky-slide {
		position: absolute;
		top: 0;
	}
	
	.top-bar-area.bg-black.py-3 {
		margin-top: 5rem;
	}
	
	.navbar ul.navbar-nav .nav-item a {
		color: var(--clr-heading) !important;
	}

	.navbar.sticked.in ul.navbar-nav .nav-item a {
		color: var(--clr-heading);
	}
	
	nav.navbar.bootsnav .navbar-toggle {
		margin-top: 2.5rem;
	}
	
	.navbar {
		padding: 2rem;
		background-color: var(--clr-white);
	}
	
    .dropdown-menu .dropdown-item {
        font-size: 1.6rem!important
    }
	
	.header-1 .navbar .search-cart .cart-li li i {
		color: var(--clr-heading);
	}
	
	.search-cart.nav-profile {
		order: 0;
	}
	
	/*  Defferent Logo*/
	
	.navbar .navbar-brand .logo-display {
		display: none;
	}
	
	.navbar .navbar-brand .logo-scrolled {
		display: block;
	}
	




	.navbar-toggler {
		border: none;
	}

	.navbar-toggler-icon {
		background-size: 0vw auto;
	}
	


}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	
	/*NavBar*/
	
	.bsnav-sticky.bsnav-sticky-slide {
		position: absolute;
		top: 0;
	}
	
	.top-bar-area.bg-black.py-3 {
		margin-top: 5rem;
	}
	
	.navbar ul.navbar-nav .nav-item a {
		color: var(--clr-heading) !important;
	}

	.navbar.sticked.in ul.navbar-nav .nav-item a {
		color: var(--clr-heading);
	}
	
	nav.navbar.bootsnav .navbar-toggle {
		margin-top: 2.5rem;
	}
	
	.navbar {
		padding: 1rem;
		background-color: var(--clr-white);
	}
	
   .dropdown-menu .dropdown-item {
        font-size: 1.6rem!important
    }
    
	.header-1 .navbar .search-cart .cart-li li i {
		color: var(--clr-heading);
	}
	
	.search-cart.nav-profile {
		order: 0;
	}
	
	.navbar-toggler-icon {
		background-size: 0vw auto;
	}
	
	.navbar-toggler {
		border: none;
	}
	
	.navbar-brand {
		width: 35%;
	}
	
	/*  Defferent Logo*/
	
	.navbar .navbar-brand .logo-display {
		display: none;
	}
	
	.navbar .navbar-brand .logo-scrolled {
		display: block;
	}
	 
	@media only screen and (min-width: 768px) and (max-width: 991px){

		.cart-option-wrapper ul li{
			margin-top: 20px !important;
		}
	
		.fast-cart-area .cart-details-wrapper{
			padding: 20px;
		}
		.our-policy .m-content{
			margin-bottom: 20px;
		}
		.main-banner .banner-content .left-content{
			padding-bottom: 47px;
		}
		.about-us .content-part {
		 
			padding-bottom: 30px;
		}
	 }
	 @media only screen and (min-width: 350px) and (max-width: 767px) {
		.main-banner .banner-content .left-content h1{
			font-size: 40px;
			line-height: 50px;
		}
		.contact-info .right-part .payment .content ul li .btn-teritary-fast {
			font-size: 11px !important;
		}
		.contact-info .left-part .Continue-shipping ul li .bt-2 {
		font-size: 12px !important;
		}
		.contact-info .left-part .Continue-shipping ul li .bt-1 {
			font-size: 12px !important;
		
		}
		.contact-us .left-part {
			border-right: none !important;
			padding:0 10px !important;
		}
		.contact-us .right-part{
			padding:0 10px !important;
		}
	.main-banner .banner-content .left-content{
		padding: 20px;
	}
	.our-policy .m-content{
		margin-bottom: 15px;
	}
	.about-us .content-part h1{
		font-size: 30px;
		margin-bottom: 0;
	}
	.about-us .content-part {
		padding: 20px;
		margin-bottom: 20px;
	}
	.Benifits .heading h1 {
	   font-size: 30px;
		
	}
	.fast-cart-area .cart-details-wrapper{
		padding: 20px;
	}
	.cart-option-wrapper ul li{
		margin-top: 20px !important;
	}
	
	.Slider-part .swiper-slide .swiper-content .comma i{
		margin-top: 20px;
	}
	.fast-footer .footer-second {
		padding:20px;
	}
	
	}
	
	
	
	
	
	
	
	
}


























