
/*-------------------------------------------------------
04. BG css
---------------------------------------------------------*/

.colmn-2 {
	column-count: 2;
}

.bg-cover {
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.hero-bg {
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
}

.pos-rel {
	@include pos-rel;
}

.width-100 {
	width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.text-right {
    text-align: right;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rad-50 {
	border-radius: 50%;
}

.c-pd {
    padding: 0 7rem;
}

.s-pd {
    padding: 0 12rem;
}

.h-100 {
	height: 100%;
}

.h-100vh {
	height: 100vh;
}

.bg {
	background-color: var(--clr-bg);
}

.bg-1 {
	background-color: var(--clr-3);
}

.bg-2 {
	background-color: var(--clr-6);
}

.bg-theme {
    background-color: var(--clr-def);
}

.bg-theme-2 {
    background-color: var(--clr-def-2);
}

.bg-heading {
    background-color: var(--clr-heading);
}

.bg-black {
    background-color: var(--clr-black);
}

.bg-black-1 {
    background-color: var(--clr-1);
}

.bg-black-2 {
    background-color: var(--clr-4);
}

.bg-black-3 {
    background-color: var(--clr-5);
}

.bg-gradient {
    background: var(--clr-gradient);
}

.wh {
	color: var(--clr-white);
}

.bg-overlay {
	position: relative;
	z-index: 1;
	&::before {
		@include pos-abs(rgb(0, 0, 0),100%,100%,.8);
		top: 0;
		left: 0;
	}
	
}

.hero-overlay {
	position: relative;
	z-index: 1;
	&::before {
		@include pos-abs(rgb(3, 10, 21),100%,100%,.8);
	}
	
}

.hero-overlay-2 {
	position: relative;
	z-index: 1;
	&::before {
		@include pos-abss(var(--clr-black),.7);
	}
	
}


