    

/*-------------------------------------------------------
01. Variable css   #FC944B  #10A5B2
---------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Shadows+Into+Light&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

:root {
	--clr-heading: #1B1F24;
	--clr-body: #98a2b3;
	--clr-bg: #f4f4f4;
	--clr-def: #FF3863;
	--clr-def-2: #F42222;
	--clr-menu: #FF4A17;
	--clr-white: #fff;
	--clr-black: #000;
	--font-1: 'Roboto', sans-serif;
	--font-2: 'Oswald', sans-serif;
	--font-3: 'Shadows Into Light', cursive;
	--font-4: 'Yantramanav', sans-serif;
	--rad-1: 2rem;
    --clr-ftr:#c2d1e2;
	--clr-black-2:#0E1630;
    --clr-1:#18252F;
    --clr-2:#14212B;
	--clr-3:#020202;
    --clr-4:#1F1F1F;
    --clr-5:#18191D;
    --clr-6:#232323;
	--clr-7:#08757c;
    --clr-orange:#F42222;
    --clr-rgb:255, 56, 99;
    --clr-gradient: linear-gradient(to right, #201D3C 0%, #37325A 100%);;
	--clr-overlay: rgba(5, 20, 65, 0.8);
	--box-shadow-1: 0 0 10px rgba(0, 0 , 0, .09);
	--border-1: 1px solid #1d263f;
}
 
 